### Основные операции с числами

основные операции с числами

x + y Сложение

x - y Вычитание
b
x * y Умножение

x / y Деление

x // y Получение целой части от деления

x % y Остаток от деления

-x Смена знака числа

abs(x) Модуль числа

x ** y Возведение в степень

сравнение:
== "равно" x == y (x равен y)

!= "не равно" x != y (x не равен y)

\> "меньше"

< "больше"

\>= "меньше или равно"

<= "больше или равно"

In [ ]:
### Input-output functions

In [7]:
input("Your ads here") # команда (функция) ввода, запрашивает ввод с клавиатуры
# важно! ввод данных через input создает строку

Your ads hereDs!

'Ds!'

In [4]:
name = "Axwell"
print("Hello,", name, sep="$", end="@") # настраиваемый вывод

Hello,$Axwell@

In [6]:
display(name) # не настраиваемый вывод

'Axwell'

In [ ]:
Переменные бывают разных типов:

- логические True/False bool()
- строка "привет" str()
- число
 - целое 7 int()
 - дробное 7.0 float()
- контейнер
Проверить тип переменной можно с помощью функции type() где в скобках будет ваша переменная

In [9]:
var = 23
print(var) #выводим на печать значение, присвоенное переменной var
print(type(var))

23
<class 'int'>

In [12]:
var = "23"
print(type(var))

print(int(var))
print(type(int(var)))

print(float(var))
print(type(float(var)))

<class 'str'>
23
<class 'int'>
23.0
<class 'float'>

In [22]:
# не все типы данных превращаются друг в друга
num1 = "120 001"
print(int(num1)) # invalid literal for int() with base 10: '120 001'

ValueError: invalid literal for int() with base 10: '120 001'

In [21]:
num2 = "120,001" 
print(float(num2)) # could not convert string to float: '120,001'

120.0

In [17]:
var2 = 30.0
var3 = "hello"
print(var2 + var3) # unsupported operand type(s) for +: 'float' and 'str'

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [23]:
var1 = 23
var2 = 30.0
print(var1 + var2) # складывать можно только переменные схожих типов

53.0

In [26]:
var2 = 3
var3 = "hello"
var2 * var3 #однако мы можем умножать строку на число

'hellohellohello'

### Создание функции

In [1]:
# функция с возвратом значения

def add(x, y): # принимает аргументы
    res = x + y
    return res

print(add("h", "i")) # так мы вызвали функцию и передали аргументы в скобках
print(add(7, 10)) 
print(add(['Anna', 'Iliana'], ['Jane', 'Jack']))
l = add(['Anna', 'Iliana'], ['Jane', 'Jack']) # сохраним в переменную
print(l)

hi
17
['Anna', 'Iliana', 'Jane', 'Jack']
['Anna', 'Iliana', 'Jane', 'Jack']

In [12]:
# именованные аргументы функции

def flower_verse(flower, color):
    print(flower+"s","are", color)

flower_verse(flower = "rose", color = "red")
flower_verse(flower= "violet", color = "blue")

roses are red
violets are blue

In [2]:
# именованные аргументы функции 2

def flower_verse(flower, color):
    return "{0}s are {1}".format(flower, color)

a=flower_verse(flower = "rose", color = "red")
b=flower_verse(flower= "violet", color = "blue")
print(a, b, sep="\n", end = "\nand that is true")

roses are red
violets are blue
and that is true

In [3]:
print(flower_verse("peony","pink"))

peonys are pink

### Lambda functions

Анонимные функции:

могут содержать лишь одно действие
- выполняются быстрее
- не обязательно присваивать переменной (не нужен def)
- не требуется return
- обычно используются для одноразовых функций

создаются с помощью ключевого слова lambda

In [ ]:
lambda x, y: x + y  # до двоеточия - аргументы, после - действие

func = lambda x, y: x + y # сохранить в переменную

print(func(4, 7)) # вызываем

#аналог:
#def название_функции(x, y):
#  return x + y

In [ ]:
lambda-функции используются в сочетании с сортировками

- функция sorted() - не изменяет исходный объект
- метод .sort()

Иногда нужно сортировать список списков, причем не по нулевому индексу - на помощь приходит параметр сортировки key, в который можно передать lambda-функцию

In [29]:
flowers = [['rose', 'red'], 
         ['violet', 'blue'],
         ['daisy', 'white-yellow'],
         ['marigold', 'yellow']]
print(sorted(names)) # по умолчанию = по нулевому индексу => по алфавиту
print(sorted(flowers, key=lambda a: a[1])) # правило сортировки - по 1 индексу

[['daisy', 'white-yellow'], ['marigold', 'yellow'], ['rose', 'red'], ['violet', 'blue']]
[['violet', 'blue'], ['rose', 'red'], ['daisy', 'white-yellow'], ['marigold', 'yellow']]

In [ ]:
# аналог с обычной функцией
def take_second(elem):
    return elem[1]

# random list
random = [(2, 2), (3, 4), (4, 1), (1, 3)]

# sort list with key
sorted_list = sorted(random, key=take_second)


# print list
print('Sorted list:', sorted_list)

In [30]:
print(sorted(flowers, key=len)) # по длине объектов

[['rose', 'red'], ['violet', 'blue'], ['daisy', 'white-yellow'], ['marigold', 'yellow']]